@use 'utils/color'
@use 'utils/spacing'

.footer
    --module-border-color: #{color.$border}
    --module-background: #{color.$secondary-background}
    background: var(--module-background)
    border-top: 1px solid var(--module-border-color)
    box-sizing: border-box
    padding: 26px spacing.$size-50
    position: fixed
    bottom: 0
    width: 100%
    height: 100px

.footer__grid
    display: flex
    margin: 0 auto
    max-width: spacing.$max-width
    justify-content: center
    align-items: center

.footer__grid__links
    display: flex
    flex-direction: row
    gap: spacing.$size-20

.footer__grid__links__link
  align-items: center
  background-color: var(--module-background)
  border-radius: 8px
  box-sizing: border-box
  color: color.$background
  display: flex
  font-weight: 800
  font-size: 24px
  height: 48px
  justify-content: center
  padding: 8px 35px
  text-transform: uppercase
  text-decoration: none
  width: 170px

  &.footer__grid__links__link--active
    background-color: color.$background
    color:  var(--module-background)

.footer__grid__aside
    display: flex

.footer__grid__aside__switcher
    align-items: center
    display: flex
    gap: spacing.$size-10
    justify-content: center

.footer__grid__aside__switcher__label
    display: flex
    .material-icons
        font-size: 18px

.footer__grid__aside__switcher__form
    display: flex
